@model IEnumerable<EntityLayer.Concrete.Category>
<div class="widget">
    <h2 class="widget-title">Kategoriler</h2>
    <div class="link-widget">
        <ul>
            <li><a href="/Blog/Index">Bütün Bloglar</a></li>

            @foreach (var cat in Model)
            {
                <li><a href="/Blog/BlogByCategory/@cat.CategoryID">@cat.CategoryName<span>@cat.Blogs.Count()</span></a></li>
            }
        </ul>
    </div><!-- end link-widget -->
</div><!-- end widget -->