
<div class="widget-no-style">
    <div class="newsletter-widget text-center align-self-center">
        <h3>Mail Bülteni Abone Olun!</h3>
        <p>Teknoloji , yazılım ve diğer alanlar...</p>
        <form action="/NewsLetter/SubscribeMail" class="form-inline" method="post">
            <input type="email" name="Mail" placeholder="Mail" required class="form-control" />
            <input type="submit" value="Subscribe" class="btn btn-default btn-block" />
        </form>
        <h1></h1>
    </div><!-- end newsletter -->
</div>