@using EntityLayer.Concrete
@model List<Blog>
<div class="widget">
    <h2 class="widget-title">Yazarın Diğer Yazıları</h2>
    <div class="blog-list-widget">
        <div class="list-group">
            @foreach (var blog in Model)
            {
                <a href="/Blog/BlogReadAll/@blog.BlogID" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="w-100 justify-content-between">
                        <img src="@blog.BLogThumbnailImage" alt="" class="img-fluid float-left">
                        <h5 class="mb-1">@blog.BlogTitle</h5>
                        <small>@(((DateTime)@blog.BLogCreateDate).ToString("dd-MMM-yyyy"))</small>
                    </div>
                </a>
            }
        </div>
    </div><!-- end blog-list -->
</div><!-- end widget -->