
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<a class="btn btn-sm btn-primary" href="/Admin/Blog/ExportStaticExcelBlogList">Static Blog Listesi İndir (Excel)</a>
<a class="btn btn-sm btn-primary" href="/Admin/Blog/ExportDynamicExcelBlogList">Dynamic Blog Listesi İndir (Excel)</a>
