@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Static Tables</title>

    <link href="~/coreblogadmin2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/coreblogadmin2/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/coreblogadmin2/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/coreblogadmin2/css/animate.css" rel="stylesheet">
    <link href="~/coreblogadmin2/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
        @await Html.PartialAsync("~/Views/Admin/AdminNavbarPartial.cshtml")

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                    </div>
                    <ul class="nav navbar-top-links navbar-right">


                        <li>
                            <a href="/Logout/Index">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            @RenderBody()
            <div class="footer">
                <div class="float-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2014-2018
                </div>
            </div>

        </div>
    </div>



    <script src="~/coreblogadmin2/js/jquery-3.1.1.min.js"></script>
    <script src="~/coreblogadmin2/js/popper.min.js"></script>
    <script src="~/coreblogadmin2/js/bootstrap.js"></script>
    <script src="~/coreblogadmin2/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/coreblogadmin2/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/coreblogadmin2/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/coreblogadmin2/js/inspinia.js"></script>
    <script src="~/coreblogadmin2/js/plugins/pace/pace.min.js"></script>
    <script src="~/coreblogadmin2/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/coreblogadmin2/js/demo/peity-demo.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    @await RenderSectionAsync("scripts" ,false)

</body>

</html>
