

<header class="market-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index"><img height="60" src="~/coreblog/images/blog-logo.png" alt=""></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog/Index">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About/Index">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog/Index">Bloglar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/Index">İletişim</a>
                    </li>
                </ul>
@*                 <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Arancak Kelime">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
                </form> *@
                <div style="margin-top: 9.5px; margin-left: 2px;">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Hoş geldiniz @User.Identity.Name</button>
                        <a href="/Dashboard/Index" class="btn btn-outline-success my-2 my-sm-0" type="button">Panele Git</a>
                        <a href="/Logout/Index" class="btn btn-outline-success my-2 my-sm-0" type="button">Çıkış Yap</a>
                    }
                    else
                    {
                        <a href="/Login/Index" class="btn btn-outline-success my-2 my-sm-0" type="button">Oturum Aç</a>

                        <a href="/RegisterUser/Index" class="btn btn-outline-success my-2 my-sm-0" type="button">Kayıt ol</a>
                    }
                </div>
            </div>
        </nav>
    </div><!-- end container-fluid -->
</header><!-- end market-header -->