@using Asp.Net_Core5._0_Blog.Models
@model RoleViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "RoleAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Yeni Rol</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>Admin</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Yeni Rol</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" method="post">
                                <div class="form-group">
                                    <label for="name">Rol Başlığı</label>
                                    <input type="text" id="name" name="name" class="form-control mb-0">
                                    <span class="text-danger" asp-validation-for="name" ></span>
                                </div>
                                <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Kaydet</strong></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

