@model EntityLayer.Concrete.AppUser
<div class="dropdown profile-element">
    <img alt="image" class="rounded-circle" src="~/WriterImageFiles/@Model.ImageUrl" />
    <span class="block m-t-xs font-bold">@Model.NameSurname</span>
    <span class="text-muted text-xs block">@Model.Email</span>
</div>