@model EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "ContactDetail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>İletişim Mesaj Detayı</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>Admin</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>İletişim Mesaj Detayı</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget navy-bg no-padding">
                <div class="p-m">
                    <h3 class="font-bold no-margins">@Model.ContactSubject-@Model.ContactUserName-@(((DateTime)Model.ContactDate).ToString("dd-MMM-yyyy hh:m"))</h3>
                    <h1 class="m-xs">@Model.ContactMail</h1>
                    <p>@Model.ContactMessage</p>
                </div>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-chart1"></div>
                </div>
            </div>

        </div>
    </div>
</div>